/* HEADER */

body {
    background-color: #36393f;
}

header {
    background-color: #202225;
	margin-bottom: 15px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding: 15px;
    border: 2px solid;
    border-radius: 5px;
    border-color: transparent;

    position: relative;
}

nav a {
    color: #dcddde;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav li:hover {
    background-color: #282B2F;
}

nav li.active {
    background-color: #2d7d46;
}

nav li.active:hover {
    background-color: #246438;
}

.navbar {
    width: 80%;
    margin: 0 auto;
}

a {
    color: #23a4f4;
    text-decoration: none;
}

nav a {
    color: #ededed;
	font-family: 'Open Sans', sans-serif;
}

nav a.active {
    color: #23a4f4;
}

h1 {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

/* div container */

div.container {
	font-family: 'Open Sans', sans-serif;
	background-color: #2f3136;
	margin: 10px;
	padding: 5px;
	display: inline-table;
	border: 2px solid;
    border-radius: 5px;
    border-color: transparent;
	color: #ededed;
	word-break: break-word;

	max-width: 24%;
}

/* EMBEDS */

div.embed {
	display:table;
	background-color: #282B2F;

	margin: 5px;
	padding: 10px;

	border-left: 4px solid;
    border-radius: 4px;
}

div.embed h1.title {
	font-size: 25px;
	color: #ededed;
}

div.embed a.title {
	font-size: 25px;
	color: #00aff4;
}

div.embed h1.description {
	font-size: 20px;
	color: #ededed;
}

div.embed a.description {
	font-size: 20px;
	color: #00aff4;
}

/* EMBED FIELDS */

div.embed div.fields {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.fields div.field-inline {
	display: flex;
}

div.embed h1.name {
	padding-right: 5px;
	color: #ededed;
	font-size: 18px;
}

div.embed h1.value {
	padding-right: 5px;
	color: #ededed;
	font-size: 18px;
}

/* clcker */

div.clicker {
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #2f3136;
	border: 2px solid;
    border-radius: 5px;
    border-color: transparent;

}

div.clicker p {
	font-size: 20px;
	color: #ededed;
	padding: 5px;
}

div.clicker button.main {
	font-size: 15px;
	color: #ededed;
	padding: 10px;
	background-color: #2d7d46;

	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

div.clicker button.main:hover {
	background-color: #246438;
}

/* clcicker shop */

div.shop p {
	background-color: #282B2F;
	margin-left: 20px;

	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

div.shop button.shop {
	color: #ededed;
	background-color: #5865f2;

	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

/* EMBED CREATOR */

input {
	color: #ededed;

	width: 99%;

	background-color: #40444b;
	
	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

button.addField {
	font-size: 15px;
	color: #ededed;
	background-color: #2d7d46;

	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

button.addField:hover {
	background-color: #246438;
}

button.deleteField {
	font-size: 15px;
	color: #ededed;
	background-color: #d83c3e;

	border: 2px solid;
	border-radius: 5px;
	border-color: transparent;
}

button.deleteField:hover {
	background-color: #a12d2f;
}

/* FS */

ul.FS li.util {
	list-style: none;
}

ul.FS li.util a {
	color: #ededed;
    font-size: 17px;
}