div.posts {
    background-color: #202225;

    margin-left: auto;
    margin-right: auto;
    width: 80vw;

    padding: 10px;
    border: 4px solid inherit;
    border-radius: 4px;
}
div.posts div.header {
    margin-bottom: 10px;
    padding: 5px;

    border-radius: 4px;

    background-color: #2f3136;
}
div.posts div.body {
    background-color: #282B2F;

    padding: 10px;
    border-radius: 4px;
}

div.posts div.body div.post {
    /* #202225; */
    background-color: #202225;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 70%;
    margin-left: auto;
    margin-right: auto;

    padding: 4px;

    /* border: 4px solid #202225; */
    border-radius: 8px;
}
div.posts div.body div.post div.title {
    background-color: #282B2F;

    padding: 5px;

    border-radius: 4px 4px 0 0;
}
div.posts div.body div.post div.text {
    background-color: #282B2F;
    display: flex;

    align-self: center;

    margin-top: 5px;
    padding: 5px;
    margin-bottom: 5px;
}
div.posts div.body div.post div.footer {
    display: flex;
    justify-content:space-between;
}
div.posts div.body div.post div.footer button.likes {
    background-color: #282B2F;
    display: flex;

    margin-right: 5px;
    border: 2px solid #282B2F;
    border-radius: 0 0 0 4px;
}
div.posts div.body div.post div.footer button.likes-active {
    background-color: #808080;
    display: flex;

    margin-right: 5px;
    border: 2px solid #282B2F;
    border-radius: 0 0 0 4px;
}
div.posts div.body div.post div.footer button img.img {
    background-color: inherit;
    float: left;
}
div.posts div.body div.post div.footer button div.count {
    color: #ededed;
    display: flex;

    font-size: 16px;

    margin-left: 3px;
    margin-top: auto;
    margin-bottom: auto;
}
div.posts div.body div.post div.footer button {
    background-color: #282B2F;
    display: flex;

    margin-right: 5px;
    border: 2px solid #282B2F;
    border-radius: 0 0 0 4px;
}
div.posts div.body div.post div.footer button img.img {
    background-color: inherit;
    float: left;
}
div.posts div.body div.post div.footer button.comments div.count{
    color: #ededed;
    display: flex;

    font-size: 16px;

    margin-left: 3px;
    margin-top: auto;
    margin-bottom: auto;
}
div.posts div.body div.post div.footer div.author {
    background-color: #282B2F;
    width: 100%;

    padding: 5px;

    border-radius: 0 0 4px 0;
}

div.posts button.default {
    display: inline;

    color: #ededed;
    font-weight: bolder;
    background-color: #515151;

    padding: 2px;

    border: 2px solid #515151;
    border-radius: 4px;
}

div.posts a.embed {
	border-radius: 4px;

    margin: 5px;
    padding: 5px;
    display: inline-block;
}
div.posts a.embed div.text {
    background-color: inherit;
    display: block;

    float: right;
}
div.posts a.embed img {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    height: 50%;
}